
.header{
    width: 100%;
    height: 100px;
    line-height: 80px;
    /* border-bottom: 1px solid rgba(205, 205, 205, 0.733); */
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.nav__wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 30px;
    cursor: pointer;
}

.menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;
}

.nav__item a {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav__icons{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;    
}

/* .nav__icons .user__icon img{
    width: 30px;
    height: 30px;
} */

.user__icon img{
    width: 30px;
    height: 30px;
    cursor: pointer;
} 

.nav__icons .user__icon{
    position: relative;
    z-index: 9;
}

.nav__icons .profile__actions{
    position: absolute;
    top: 190%;
    left: 0;
    width: 150px;
    z-index: 10;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--card-bg-01);
    line-height: 30px;
    cursor: pointer;
    display: none;
}

.show__profileActions{
    display: block;
}

.fav__icon{
    cursor: pointer;   
} 
.cart__icon{
    cursor: pointer;   
}

.admin__icon{
    cursor: pointer;
}

.ad__icon{
    width: 20px;
    height: 20px;
}

.cart__icon, .fav__icon{
    position: relative;
}

.badge{
    position: absolute;
    top: 20%;
    right: -22%;
    width: 15px;
    height: 15px;
    content: '';
    background: tomato;
    color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: 600;
    z-index: 10;
}

/* .nav__icons span i {
    font-size: 1.4rem;
    color: var(--primary-color);
} */

.nav__icons span img{
    width: 30px;
    height: 30px;
}



.mobil__menu{
    font-size: 1.3rem;
    color: var(--primary-color);
    display: none;
}

.nav_active{
    font-weight: 700 !important;
}

.sticky__header{
    width: 100%;
    height: 100px;
    line-height: 120px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px -3px #ddd;
    background: #fff;
}


